// $prePath: '@/assets/imgs/';
$prePath: 'https://website.xdcdn.net/homepage/torchlight-doc/imgs/';

@mixin imgBg($path, $path_2x: false) {
  background-image: url($prePath+$path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @if $path_2x {
    @media (-webkit-min-device-pixel-ratio: 2) {
      background-image: url($prePath+$path_2x);
    }
  }
}

@mixin hideScrollBar() {
	&::-webkit-scrollbar {
		display: none; /* Chrome Safari */
	}
	scrollbar-width: none; /* firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

@function vw($px) {
	@return calc($px/828px) * 100vw
};